<header class="header">
  <div class="slider">
    <div class="slider-wrap">
      <div class="banner-slider owl-carousel owl-theme">
        <% (1..9).each do |n| %>
          <div class="item">
            <%= image_tag "slider/slide-#{n}.JPG" %>
          </div>
        <% end %>
      </div>
    </div>
  </div><!-- .slider -->

  <div class="head-page">
    <div class="container">
      <div class="logo-mobile">
        <a href="#">
          <%= image_tag 'logo-2.png' %>
        </a>
      </div>

      <nav class="head-menu text-center">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>

        <div class="logo">
          <a href="/">
            <%= image_tag 'logo1.png' %>
          </a>
        </div>

        <ul class="head-nav nav text-uppercase font-fanwoodtext">
          <li class="nav-link">
            <a href="#quem-somos">Quem somos</a>
          </li>
          <li class="nav-link space">
            <p>|</p>
          </li>
          <li class="nav-link">
            <a href="#produtos">Produtos</a>
          </li>
          <li class="nav-link space">
            <p>|</p>
          </li>
          <li class="nav-link">
            <a href="#galeria">Galeria</a>
          </li>
          <li class="nav-link space">
            <p>|</p>
          </li>
          <li class="nav-link">
            <a href="#noticias">Notícias</a>
          </li>
          <li class="nav-link space">
            <p>|</p>
          </li>
          <li class="nav-link">
            <a href="#localizacao">Localização</a>
          </li>
          <li class="nav-link space">
            <p>|</p>
          </li>
          <li class="nav-link">
            <a href="#contato">Contato</a>
          </li>
        </ul>
      </nav>
    </div><!-- .container -->
  </div>

  <div class="line-section"></div>
</header>
