<div class="preloader">
  <div class="pre-icon">
    <div class="pre-item pre-item-1"></div>
    <div class="pre-item pre-item-2"></div>
    <div class="pre-item pre-item-3"></div>
    <div class="pre-item pre-item-4"></div>
  </div>
</div>
