<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Dayane Pabla <dayanepabla@gmail.com>">
    <meta name="description" content="<%= current_page.data.description %>">

    <title><%= current_page.data.title || "Quinta Tropical" %></title>

    <!-- Google fonts -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,600'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic'>

    <%= stylesheet_link_tag "all" %>

    <!--[if lt IE 9]>
        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>

  <body class="<%= page_classes %>">
    <div class="page-wrap">
      <%= partial 'layouts/preloader' %>
      <%= partial 'layouts/header' %>
      <%= yield %>
    </div>

    <%= javascript_include_tag  "all" %>
  </body>
</html>
