.header {
  position: relative;
  height: 100vh;
}

.head-page {
  position: absolute;
  // padding: 43px 0;
  left: 0;
  right: 0;
  z-index: 999;
  bottom: 0px;
  background-color: #35364B;

  @media #{$xsmall} {
    top: 0;
    bottom: auto;
    height: 50px;
    padding: 0;
  }
}

.head-menu {
  display: flex;

  .nav {
    display: block;
    position: fixed;
    background: #1e1e1e;
    padding: 10px 20px;
    width: 210px;
    top: 0;
    overflow-y: auto;
    right: -210px;
    height: 100%;
    z-index: 9999999999;
    background-color: #35364B;
    text-align: right;

    @include transition-cubic-bezier;

    a {
      color: rgba(255, 255, 255, 0.6);
      transition: all 0.8s;
    }

    a:hover, a:focus {
      color: white;
      background-color: transparent;
    }

    @media #{$xsmall} {
      width: 170px;
      right: -170px;
    }

    @media #{$desktop} {
      position: relative;
      background: transparent;
      padding: auto;
      width: auto;
      right: auto;
    }

    p {
      color: white;
    }
  }

  .nav-link {
    display: inline-block;
  }

  .head-nav {
    flex-grow: 2;
  }

  .logo {
    flex-grow: 1;
    position: absolute;
    bottom: 0;
  }
}

.logo-mobile {
  top: 18%;
  position: absolute;
  display: none;

  @media #{$xsmall} {
    display: block;
  }
}

.navbar-toggle {
  top: 0;
  right: 0;
  color: white;
  position: absolute;

  @include transition-cubic-bezier;
}
