.products-list {
  &__mark {
    position: absolute;
    width: 100%;
    height: 70%;
    background: white;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 5;

    transition: all .3s linear;
  }

  &__icon {
    position: absolute;
    height: 60px;
    margin: auto;
    top: -128px;
    bottom: 0;
    opacity: 0;
    width: 100%;
    text-align: center;
    z-index: 999;

    transition: all .3s linear;
  }

  &__caption {
    background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 22px 12px;
    z-index: 9;

    h4 {
      font-size: 16px;
      color: #373737;
      height: 24px;
      overflow: hidden;
      line-height: 1em;
    }

    p {
      font-style: italic;
    }
  }

  &__item {
    margin-bottom: 100px;

    &:hover .products-list__icon {
      opacity: 1;
    }

    &:hover .products-list__mark {
      opacity: .7;
      height: 100%;
    }

    &:hover .products-list__caption {
      color: white;
      background-color: #c7ab7b;

      h4 { color: white; }
    }
  }
}

.icon-zoom {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #fff url('../images/zoom.png') no-repeat center center;
  border: 3px solid #c9ae80;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 0;
  margin: 40px;

  transition: all .3s linear;
}
