.line-section {
  width: 100%;
  height: 5px;
  background: #fff url(../images/line-section.png) repeat-x;
}

.line-title {
  width: 87px;
  height: 7px;
  margin: 20px auto 30px;
  background: url(../images/line-pattern-1.png);
}

.section-wrap {
  padding-top: 70px;
  padding-bottom: 50px;
}

.about-us {
  &-content {
    margin-top: 20px;
    background-color: white;
    overflow: hidden;
  }

  .item-left {
    width: 50%;
    float: left;
  }

  .item-right {
    width: 50%;
    float: right;
    padding: 30px 20px;

  }

  .section-wrap {
    background: #fff url(../images/pattern-2.png);
  }
}

.contact {
  .section-wrap {
    background-color: $blue-dark;
  }

  .contact-aside {
    color: black;
    background-color: white;
    padding: 30px 20px;
  }

  .contact-block {
    color: white;
    padding: 30px 20px;
    border: 1px solid white;
  }

  .item {
    h4 {
      margin-bottom: 25px;
      margin-top: 30px;
    }
    .higher {
      margin-top: 100px;
    }
    .less {
      margin-bottom: 65px;
    }
  }
}

.btn-block {
  width: 48%;
  font-style: italic;
}

.btn {
  border-radius: 0px;
}

.products {
  .section-wrap {
    padding-bottom: 110px;
  }

  &-nav {
    border: 2px solid $yellow;
    display: inline-block;
    margin-bottom: 50px;

    li a {
      color: black;
      font-style: italic;

      &:hover {
        color: $yellow;
        background-color: transparent;
      }
    }
  }
  margin-bottom: 50px;

  .small {
    margin-bottom: 30px;
  }
}

.new {
  text-align: center;
  margin-bottom: 60px;
}
