.slider {
  z-index: 1;
  position: relative;

  &-wrap {
    overflow: hidden;
    max-height: 100vh;
  }
}

.owl-wrapper-outer {
  max-height: 100vh;
}

.owl-wrapper {
  max-height: 100vh;
}

.item img {
  height: 100vh;
  display: block;
  width: 100%;
}

.about-slider,
.banner-slider,
.gallery-slider {
  .owl-controls {
    position: absolute;
    z-index: 100;
    right: 40px;
    bottom: 65px;
    overflow: hidden;
  }

  .owl-pagination {
    width: 50px;
    height: 50px;
  }

  .owl-buttons {
    div {
      float: left;
      width: 50px;
      height: 50px;
      margin: 0 !important;
      background: #fff url('../images/nav-slide-1.png') no-repeat left center !important;
      font-size: 0 !important;
      border-radius: 0 !important;
      opacity: 1 !important;
    }

    .owl-next {
      margin-left: 1px !important;
      background-position: right center !important;
    }
  }
}

.about-slider {
  .owl-wrapper-outer {
    height: 362px;

    .item img {
      height: 362px;
    }
  }

  .owl-controls {
    bottom: 20px;
  }
}
