<section class="section about-us">
  <div class="section-wrap">
    <div class="title text-center">
      <h2 class="big font-fanwoodtext text-italic text-gold" id="quem-somos">
        Produção e comercialização de Flores e Folhagens Tropicais
      </h2>
      <div class="line-title"></div>
    </div><!-- .title -->

    <div class="container">
      <div class="about-us-content">
        <div class="item-left">
          <div class="about-slider">
              <% (1..16).each do |n| %>
                <div class="item">
                  <%= image_tag "about-us/slider/slide-#{n}.jpg" %>
                </div>
              <% end %>
          </div>
        </div>

        <div class="item-right">
          <div class="row">
            <div class="col-sm-6">
              <p class="text-italic">
                Empresa dedicada exclusivamente ao cultivo de Flores e Folhagens
                Tropicais, localizada a 50 Km de Natal, tem como objetivo oferecer
                diretamente aos seus clientes, produtos da mais alta qualidade com
                diversidade e facilidade de entrega.
              </p>

              <p class="text-italic">
                Atualmente é a empresa responsável pela comercialização das flores
                e folhagens tropicais nas diversas lojas do Supermercado Nordestão.
              </p>
            </div>

            <div class="col-sm-6">
              <p>
                Especializada no cultivo de antúrios de corte, oferece uma variedade
                de produtos de grande aceitaçõ no mercado, como Bastão do Imperador,
                Sorvetão, Tapeinóquilos, Helicônias Bihai, H. Golden Torch, H. Red
                Opal, G. Sassy, além de outras.
              </p>
              <p>
                Dentre as folhagens, destaque para as Palmeiras Areca, Mulambo,
                Trinax, Fênix, Cica e outros tipos de folhagens, como: Pandanus,
                Curculigo, Papiro Gigante, Folhas de Antúrios, Mini-papiro,
                Dracenas, Cordilineas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="line-section"></div>
</section>
