<section class="section contact" id="localizacao">
  <div class="section-wrap" style="background-color: #363648;">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-3">
          <aside class="contact-aside">
            <div class="item">
              <h4 class="text-uppercase font-fanwoodtext">Produção</h4>
              <p>Fazenda São Sebastião, 45</p>
              <p>Projeto São Miguel</p>
              <p>Área Rural - Ceará Mirim - RN</p>
              <p>CEP 50570-000</p>
            </div>

            <div class="item">
              <h4 class="text-uppercase font-fanwoodtext higher">Escritório</h4>
              <div class="less">
                <p>Av. Campos Sales, 641</p>
                <p>Tirol - Natal - RN</p>
                <p>CEP 59014-545</p>
                <P>Tel. 84 2020.9791</P>
                <p>contato@quintatropical.com.br</p>
              </div>
            </div>
          </aside>
        </div>

        <div class="contact-block col-sm-8 col-md-9" id="contato">
          <div class="title text-center">
            <h2 class="big text-uppercase font-fanwoodtext">Contato</h2>
          </div>

          <form class="form contact-form" action="//formspree.io/quinta.tropical@hotmail.com"
      method="POST">
            <div class="col-sm-12 col-md-6">
              <input class="form-control input-lg" type="text" name="name" placeholder="Nome">
            </div>

            <div class="col-sm-12 col-md-6">
              <input class="form-control input-lg" type="text" name="lastname" placeholder="Sobrenome">
            </div>

            <div class="col-sm-12 col-md-6">
              <input class="form-control input-lg" type="email" name="email" placeholder="Email">
            </div>

            <div class="col-sm-12 col-md-6">
              <input class="form-control input-lg" type="phone" name="phone" placeholder="Telefone">
            </div>

            <div class="col-sm-12 col-md-12">
              <textarea class="form-control input-lg" name="message" rows="8" cols="40" placeholder="Mensagem"></textarea>
            </div>

            <div class="col-sm-12 col-md-12">
              <button class="btn btn-block btn-default" type="submit">ENVIAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
