<section class="section gallery">
  <div class="section-wrap">
    <div class="title text-center">
      <h2 class="big text-uppercase font-fanwoodtext" id="galeria">
        Galeria de Fotos
      </h2>
    </div><!-- .title -->

    <div class="container">
      <div class="about-us-content">
        <div class="gallery-slider">
          <% (1..16).each do |n| %>
            <%= image_tag "gallery/slide-#{n}.jpg" %>
          <% end %>
        </div>
      </div>
    </div>
</section>
<div class="line-section"></div>

