<section class="section about-us">
  <div class="section-wrap">
    <div class="title text-center">
      <h2 class="big font-fanwoodtext text-italic text-gold" id="noticias">
        Notícias
      </h2>
      <div class="line-title"></div>
    </div><!-- .title -->

    <div class="container">
      <div class="new">
        <img src="../images/news.png">
      </div>
    </div>

  <div class="line-section"></div>
</section>
