<section class="section products">
  <div class="section-wrap">
    <div class="title text-center">
      <h2 class="big text-uppercase font-fanwoodtext" id="produtos">
        Nossos produtos
      </h2>
      <h5 class="small text-uppercase text-italic">
        Na hora de comprar flores e folhagens tropicais é bom saber que você pode
        contar com o melhor
      </h5>
    </div><!-- .title -->

    <div class="container">
      <div class="text-center">
        <ul class="nav nav-pills products-nav">
          <li role="presentation"><a href="#" data-filter="*">TODOS</a></li>
          <li role="presentation"><h4>/</h4></li>
          <li role="presentation"><a href="#" data-filter=".heliconias">HELICÔNIAS</a></li>
          <li role="presentation"><h4>/</h4></li>
          <li role="presentation"><a href="#" data-filter=".flores_tropicais">FLORES TROPICAIS</a></li>
          <li role="presentation"><h4>/</h4></li>
          <li role="presentation"><a href="#" data-filter=".anturios">ANTÚRIOS</a></li>
          <li role="presentation"><h4>/</h4></li>
          <li role="presentation"><a href="#" data-filter=".folhagens">FOLHAGENS</a></li>
        </ul>
      </div>

      <div class="products-list">
        <% data.products.each do |category, products| %>
          <% products.each do |product| %>
            <div class="products-list__item <%= category %>" data-category="<%= category %>">
              <a href="<%= image_path "products/#{category}/#{product["image"]}" %>">
                <%= image_tag "products/#{category}/#{product["image"]}", height: "450", width: "285" %>
                <div class="products-list__mark linear-3s"></div>
                <div class="products-list__icon">
                  <span class="icon-zoom"></span>
                </div>
              </a>
                <div class="products-list__caption">
                  <h4 class="text-uppercase font-fanwoodtext"><%= product["name"] %></h4>
                  <p><%= product["description"] %></p>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="line-section"></div>
</section>
