.text-uppercase {
  text-transform: uppercase;
}

.text-italic {
  font-style: italic;
}

.text-gold {
  color: $yellow;
}

.big {
  font-size: 52px;
  line-height: 1em;
	margin-bottom: 40px;
  @media #{$xsmall} {
    font-size: 34px;
  }
}
