// Breakpoints
// ===========
$huge:    1200px;
$big:     1022px;
$medium:  768px;
$small:   620px;
$xsmall:  480px;

$xsmall: "screen and (max-width: #{$xsmall})";
$desktop: "screen and (min-width: #{$big})";


// Colors
// ======
$yellow: #956E21;
$blue-dark: #35364B;
