.form-control {
  height: 55px;
  background-color: transparent;
  border: 0px;
  border-radius: 0;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  margin-bottom: 20px;
  box-shadow: none;

  &:focus {
    box-shadow: none;
    border-bottom: 1px solid $yellow;
  }
}

textarea.form-control {
  border: 1px solid white;

  &:focus {
    border: 1px solid $yellow;
  }
}
